
.source p, .source img {
    width: 100px;
    height: 100px;
    margin: 0;
    text-align: right;
    float: right;
}

.recipe {
    min-height: 200px;
}


.success {
    background-color: #56915C;
}

.warning {
    background-color: #FFC857;
}

.error {
    background-color: #871300;
}

.right {
    float: right;
}

header h1 {
    display: inline-block;
}

.card-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.headerbox {
    display: grid;
    grid-template-columns: 75% 25%;
}

.freshness {
    position: relative;
}

.freshness span {
    position: absolute;
    bottom: 0;
}

.freshness-img {
    width: 1.5em;
}

.hidden {
    display: none;
}

.actions {
    text-align: right;
}

.actions .button {
    background-color: unset;
    vertical-align: middle;
    margin: 0.2rem;
}

.actions .button:hover {
    background: var(--button-hover-back-color);
    border-color: var(--button-hover-border-color);
}

.printericons img {
    width: 1em;
    cursor: pointer;
}

.printericonsall {
    vertical-align: sub;
}

.printericonsall img {
    width: 1em;
}

.description:empty:before, .printericonsall:before {
    content: "\200b";
}

.hide-recipe {
    display: none;
}

@media print {
    header {
        display: none;
    }

    #recipes {
        display: grid !important;
        grid-template-columns: 49% 49%;
    }
    
    .headerbox {
        display: grid;
        grid-template-columns: 100%;
    }

    .recipe {
        width: 100% - 2px !important;
        max-width: 100% !important;
    }
    .recipe:nth-child(8n+0) {
        page-break-after: always !important;
        page-break-inside: avoid !important;
    }

    a, a:visited {
        color: #222 !important;
    }

    .printerhide {
        display: none;
    }
}