{{ template "header.go.tmpl" . }}
        <form action="{{ .Link }}" method="POST">
            <div class="input-group vertical">
                {{ with .Recipe }}
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{ .Name }}" />
                <label for="length">Länge:</label>
                <input type="text" name="length" value="{{ .Length }}" />
                <select name="freshness" value="{{ .Freshness }}">
                    <option value="0" disabled>--auswählen</option>
                    <option value="1">frisch Zutaten</option>
                    <option value="2">wenige frishe Zutaten</option>
                    <option value="3">Keine frischen Zutaten</option>
                </select>
                <label for="source">Quelle:</label>
                <input type="text" name="source" value="{{ .Source }}" placeholder="Link zur Seite" />

                <input type="submit" value="Speichern" />
                {{ end }}
            </div>
        </form>
{{ template "footer.go.tmpl" . }}