{{ template "header.go.tmpl" . }}
        <form action="{{ .Link }}" method="POST">
            {{ with .Recipe }}
            <div class="input-group vertical">
                <label for="name">Name:</label>
                <input type="text" required name="name" value="{{ .Name }}" />
                <label for="description">Beschreibung:</label>
                <input type="text" name="description" value="{{ .Description }}" />
                <label for="length">Länge:</label>
                <input type="text" required name="length" value="{{ .Length }}" />
                <select name="freshness" required value="{{ .Freshness }}">
                    <option value="1">frisch Zutaten</option>
                    <option value="2">wenige frische Zutaten</option>
                    <option value="3">Keine frischen Zutaten</option>
                </select>
                <label for="source">Quelle:</label>
                <input type="text" name="source" value="{{ .Source }}" placeholder="Link zur Seite" />
            </div>
            <input type="submit" value="Speichern" />
            <a class="button" href="javascript:history.back()">Abbrechen</a>
            {{ end }}
        </form>
{{ template "footer.go.tmpl" . }}