<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rezepte</title>
        <link rel="stylesheet" type="text/css" href="/static/mini-default.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
        <link rel="icon" href="/static/cooker.svg" />
        <script type="application/javascript" src="/static/main.js"></script>
        <script type="application/javascript" src="/static/fuzzysort.js"></script>
    </head>
    </body>
        <header>
            <a class="button" href="/">Rezepte</a>
            {{ if not .NoHeader }}
            <label class="button" id="navbar-button" for="navbar-collapse" />...</label>
            <input type="checkbox" id="navbar-collapse">
            <div id="buttons" class="right">
                {{ if .Printer }}
                <input type="text" id="search" placeholder="Suche" onchange="search()" />
                <span class="button printericonsall">
                    <img class="printericon printerhide" width="1" height="1" src="/static/printer-svgrepo-com.svg" onclick="hideall()" />
                    <img class="hidden noprintericon printerhide" src="/static/noprinter-svgrepo-com.svg" onclick="showall()" />
                </span>
                {{ end }}
                <a class="button" href="/add">Hinzufügen</a>
                <a class="button" href="/logout">Logout</a>
            </div>
            {{ end }}
        </header>
        <main>
            {{ .Message.HTML }}