{{ template "header.go.tmpl" . }}
<div id="recipes" class="row">
    {{ range .Recipes }}
        <div id="recipe-{{ .ID }}" class="recipe card large">
            <div class="section">
                <span class="printericons">
                    <img class="printericon" src="/static/printer-svgrepo-com.svg" onclick="printerhide({{ .ID }})" />
                    <img class="hidden noprintericon" src="/static/noprinter-svgrepo-com.svg" onclick="printershow({{ .ID }})" />
                </span>
                <h3 class="name"><a href="/edit/{{ .ID }}">{{ .Name }}</a></h3>
            </div>
            <div class="section">
                <div class="card-grid">
                    <div class="length">
                        {{ .Length }}
                    </div>
                    <div class="source">
                        {{ .SourceHTML }}
                    </div>
                    <div class="freshness">
                        <span>
                        {{ .Freshness.HTML }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
</div>

{{ template "footer.go.tmpl" . }}